* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  font-family: "CooperHewitt-Book";
  font-size: 3rem;
  padding: 2rem;
}


img.logo {
  border: 0px solid green;
  display: inline-block;
  width: 1.15em;
  transform: translate(0,0.15em);
}
