.leftpane {
  font-size: medium;
  float: left;
  width: 20%;
}
.aboutpane {
  width: 56%;
  margin-right: auto;
  margin-left: auto;
}
.panetitle {
  width: 100%;
  font-size: large;
  font-weight: bold;
  color: #dd0000;
}
.threepanes {
  width: 100%;
}
.threepanes td {
  vertical-align: top;
  margin: auto;
  width: 30%;
  padding: 0.5em;
}
.slideshow {
  position: relative;
}
.slideshowframe {
  height: 17ex;
}
.buttonpanel {
  display: block;
  position: absolute;
  left: 100%;
  top: -3ex;
  width: 3em;
  margin: 0em 0em 0em -5em;
}
#advancebutton, #rewindbutton, #helpbutton, #closebutton {
  text-decoration: none;
  border: 1px solid #ddddd;
  font-weight: bold;
  color: #44444;
  background-color: #eeeee;
  padding: 0px 1px 0px 1px;
}
#advancebutton, #rewindbutton {
  margin: 0px 1px 0px 1px;
}
#helpbutton {
  margin: 0px 1px 0px 10px;
}
.hiddenhelp {
  width: 0em;
  margin-left: 2em;
}
.helpcontent {
  width: 20em;
  background-color: #ffffee;
  padding: 10px;
  margin-top: 3px;
  border: 1px solid black;
}
#closebutton {
  font-size: small;
  margin-bottom: 1em;
}
.helptext, #helpdesc {
  margin-top: 0.5em;
}
.helptext {
  font-size: small;
}
.downloadbutton {
  position: relative;
  float: right;
}
.codecomment {
  color: #c2741f;
}
.codeparenthesis {
  color: #843c24;
}
.codeconstant, .codestring {
  color: #228b22;
}
.codeid, .codemodpath {
  color: #262680;
}
.codeimportid {
  color: blue;
}
.codeimportform {
  font-weight: bold;
}
.codelinkimportid {
  color: blue;
  text-decoration: none;
}
.codelinkimportform {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.codelinkimportid:hover {
  text-decoration: none;
}
.codelinkimportform:hover {
  text-decoration: none;
}
.codemodpath:hover {
  text-decoration: none;
}
.codesnip {
  display: none;
}
.codesnip.active {
  display: block;
}
